<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="JoltPhysicsSharp-Local">
      <package pattern="JoltPhysicsSharp.Vrage*" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="JoltPhysicsSharp-Local" value="/home/deltawing/RiderProjects/JoltPhysicsSharp-Vrage/artifacts/package/release" />
  </packageSources>
</configuration>
